html, body {
    font-size: 16px;
    font-family: 'Microsoft JhengHei', 'Helvetica Neue', 'Arial';
}

.clear:after{
    display: block;
    content: '';
    clear: both;
}

.animate, .animate:after, .animate:before{
    -webkit-transition: all ease-in-out .25s;
    -ms-transition: all ease-in-out .25s;
    -o-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s;
}

.helfSec{
    -webkit-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}

.fullSec{
    -webkit-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.oneHelfSec{
    -webkit-transition-duration: 1.5s;
    -ms-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

.twiceSec{
    -webkit-transition-duration: 2s;
    -ms-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}

.flex{
    display: flex;
    flex-direction: row; /* (row | row-reverse | column | column-reverse) */
    flex-wrap: nowrap; /* (nowrap | wrap | wrap-reverse) */
    justify-content: flex-start; /* (flex-start | flex-end | center | space-between | space-around) */
    align-items: flex-start; /* (flex-start | flex-end | center | baseline | stretch) */
    align-content: flex-start; /* (flex-start | flex-end | center | space-between | space-around | stretch) */
}

.flex:before, .flex:after{
    content: normal;
}

.flex-reverse{
    flex-direction: row-reverse;
}

.flex-column{
    flex-direction: column;
}

.flex-column.flex-reverse{
    flex-direction: column-reverse;
}

.flex-stretch{
    align-items: stretch;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-nowrap{
    flex-wrap: nowrap;
}

.flex-left{
    justify-content: flex-start;
}

.flex-center{
    justify-content: center;
}

.flex-right{
    justify-content: flex-end;
}

.flex-top{
    align-items: flex-start;
}

.flex-middle{
    align-items: center;
}

.flex-bottom{
    align-items: flex-end;
}

.floatBgBefore:before, .floatBgAfter:after{
    content: ' ';
    display: block;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc((100% - 100vw) / 2);
    z-index: -1;
}



/** common start **/

body{
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

button{
    outline: none !important;
}

strong{
    font-size: 1.2em;
    font-weight: normal;
    color: #FF9000;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    margin-bottom: 1em;
}

p{
    color: #666;
}

a:hover{
    text-decoration: none;
}

/** common end **/



/** wrapper start **/

#wrapper{
    position: relative;
}

#wrapper:before{
    position: fixed;
    background-color: #EFEFEF;
    z-index: -3;
}

/** wrapper end **/



/** header start **/

header{
    position: relative;
    padding-top: 1em;
    padding-bottom: 2em;
    z-index: 1;
}

header:before{
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

header small{
    color: #FF9000;
    margin-right: 0.5em;
}

header small:before{
    font-size: 1.5em;
}

header h1{
    cursor: pointer;
    margin: 0;
}

/** header end **/



/** nav start **/

nav{
    font-size: 1rem;
}

nav > a{
    color: #333 !important;
}

nav > a:hover{
    color: #FFF !important;
    text-shadow: none !important;
    background: #FF9000 !important;
    border-color: #CCC !important;
}

@media (max-width: 767px){
    nav{
        margin-top: 20px;
    }
}

/** nav end **/



/** main start **/

main{
    padding-top: 2em;
    padding-bottom: 2em;
}

main #dingOrder{
    margin-bottom: 50px;
}

main #dingOrder input[type=file] + button{
    margin-left: 5px;
}

main .form-group{
    margin-bottom: 20px;
}

main .shareBlock{
    margin-top: 30px;
    margin-bottom: 30px;
}

main ul#orderList{
    list-style: none;
    padding: 30px 0 0 0;
}

main ul#orderList li{
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

main ul#orderList li span{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

main ul#orderList li:before{
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 1px;
    display: block;
    background-color: #CCC;
}

.dingList{
    padding: 10px 0;
}

.dingList:last-child{
    border-bottom: none;
}

.dingList > div{
    margin-top: 10px;
    margin-bottom: 10px;
}

#wait{
    padding-top: 150px;
}

@media (max-width: 767px){
    main #dingOrder input[type=file] + button{
        margin-top: 10px;
        margin-left: 0;
    }
}

/** main end **/



/** footer start **/

footer{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 1rem;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
}

footer span{
    margin-right: 2em;
}

footer a{
    color: #333;
    white-space: nowrap;
}

footer a:hover{
    color: #FF9000;
}

footer a i{
    margin-right: 0.5em;
}

@media (max-width: 992px){
    footer a.pull-right{
        float: none !important;
    }
}

/** footer end **/